---
import Link from "./ui/link.astro";
---

<div
  class="bg-blue-main p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center"
>
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Empieza Ahora con WalkFree Compass
  </h2>
  <!-- <p class="text-slate-400 mt-4 text-lg md:text-xl"> -->
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Únete a la comunidad de líderes empresariales que están marcando la
    diferencia. Regístrate hoy y transforma la manera en que tu empresa enfrenta
    los desafíos de la esclavitud moderna.
  </p>
  <div class="flex mt-5">
    <Link href="#" class="bg-blue-second"
      >Regístrate para una Demostración Gratuita</Link
    >
  </div>
</div>
