---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Manejo de Perfil Inteligente",
    description:
      "Adapta WalkFree Compass a las necesidades específicas de tu empresa, optimizando procesos y alineación con tus políticas internas.",
    icon: "mdi:monitor-dashboard",
  },
  {
    title: "Asistente Basado en Inteligencia Artificial",
    description:
      "Obtén recomendaciones personalizadas y respuestas en tiempo real para facilitar la toma de decisiones informadas con nuestro asistente AI.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Sistema de Seguimiento de Objetivos",
    description:
      "Define y monitoriza metas específicas en la lucha contra la esclavitud moderna, ajustando estrategias según sea necesario para asegurar el cumplimiento. ",
    icon: "tabler:list-check",
  }
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-blue-main text-4xl lg:text-5xl font-bold lg:tracking-tight">
    <!-- Navega hacia la Libertad -->
    Características Únicas de WalkFree Compass
  </h2>
  <p class="text-lg mt-4 text-slate-600"></p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-6 items-start">
        <div class="mt-1 bg-blue-second rounded-full  p-2 w-16 h-16 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class=" text-blue-main font-semibold text-xl">{item.title}</h3>{" "}
          <p class="text-lg text-slate-500 mt-2 leading-relaxed">
            {item.description}
          </p>
        </div>
      </div>
    ))
  }
</div>
