---
import { Picture } from "astro:assets";
import heroImage from "assets/slavery.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"
>
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="childs work"
      widths={[200, 300, 400]}
      sizes="(max-width: 500px) 100vw, 400px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
      WalkFree Compass
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      WalkFree Compass es una herramienta de evaluación comparativa única,
      diseñada para medir el progreso y alinear esfuerzos con los estándares
      globales contra la esclavitud moderna. En WalkFree Compass, entendemos que
      el camino hacia la libertad es un viaje conjunto, y estamos aquí para
      guiar a cada paso del camino.
    </p>
  </div>
</main>
